#BackToTop {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 1em;
    border: #fff;
    background-color: #007DC2;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    border-radius: 50%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    }

#BackToTop:hover {
    transition: 500ms;
    color: #000;
    }