.coverletter-text > p { 
    color: #fff; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

.coverletter-full {
  background-color: #242424;
  padding-bottom: 60px;
  padding-top: 20px;
}

.coverletter-container > h2 {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
  
.coverletter-container {
    display: flex;
    flex-flow: column;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }

.coverletter-text {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}
  