* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.experience,
.portfolio,
.aboutme {
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.experience {
  color: #fff;
}

.portfolio {
  color: #fff;
}

.aboutme {
  color: #fff;
}